body {
	font-family: "Roboto", sans-serif;
	background-color: var(--hero-title-color);
	color: var(--basic-color);
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
:root {
	--basic-color: #e5e5e5;
	--logoweb-color: #4d5ae5;
	--logostudio-color: #2e2f42;
	--logostudio-w-color: #f4f4fd;
	--contakt-color: #434455;
	--hero-title-color: #ffffff;
	--hero-btn-background-hover: #404bbf;
}
/* Шапка ----------------------------------------------------*/

.header {
}
.header-navigation {
}
.header-logoweb,
.header-logostudio-w {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logoweb-color);
	display: inline;
}

span {
	color: var(--logostudio-color);
}

address {
	font-style: normal;
}
.head-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--logostudio-color);
}
.head-link:hover,
.head-link:focus {
	color: var(--hero-btn-background-hover);
	color: var(--hero-btn-background-hover);
}
.contact:hover,
.contact:focus {
	color: var(--hero-btn-background-hover);
}
.contact {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--contakt-color);
}

/*  Section 1--------------------------------------------*/
.hero {
	background: var(--logostudio-color);
}
.hero-title {
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--hero-title-color);
	display: block;
}
.hero-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	color: var(--hero-title-color);
	background: var(--logoweb-color);
	border: 1px;
	cursor: pointer;
}

.hero-btn:hover,
:focus {
	background: var(--hero-btn-background-hover);
}

/* --Section 2-------------------------------------------- */
.strategy {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--logostudio-color);
}
.strategy-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--contakt-color);
}
/* --Section 3--------------------------------------------*/
.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--logostudio-color);
	text-align: center;
}

.work-list {
}
.work-link {
}
/* --Section 3--------------------------------------------*/
.team {
	background: var(--logostudio-w-color);
}
.team-title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: var(--logostudio-color);
}
.team-photo {
	background: var(--hero-title-color);
}
.team-name {
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--logostudio-color);
}
.team-description {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: var(--contakt-color);
}
/* footer -----------------------------------------------*/
.footer {
	background: var(--logostudio-color);
}

.header-logostudio-w {
	color: var(--logostudio-w-color);
}
.end-text {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: var(--logostudio-w-color);
}
/* Портфоліо------------------------------------------- */
.portfolio-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	background-color: var(--logostudio-w-color);
	color: var(--logoweb-color);
	border: 1px solid #e7e9fc;
	border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
	background: var(--hero-btn-background-hover);
	color: var(--hero-title-color);
}
.services-link {
	text-decoration: none;
}
.services-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--logostudio-color);
}
.services-description {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--contakt-color);
}
